@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Montserrat&family=Poppins&display=swap');

:root{
    --cor1 : #FFFFFF;
    --cor2 : #E8E7E7;
    --cor3 : #D9D9D9;
    --cor4 : #C6C5C5;
    --cor5 : #8F8E8E;
    --cor6 : #90C995;
    --cor7 : #00990F;
    --cor8 : #000000;

    --fonte-geral: 'DM Sans', sans-serif;
    --fonte-detalhes: 'Poppins', sans-serif;
    --fonte-textos: 'Montserrat', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-textos);
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header{
    background-color: var(--cor7);
    width: 100%;
    padding-inline: 8px;
    padding-block: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo-perfil{
    padding-right: 10px;
}
.logo-perfil img{
    height: 30px;
    width: 30px;
}

/*Parte referente a barra de navegação (menu)*/

nav{
    display: flex;
    font-family: var(--fonte-geral);
    background-color: var(--cor7);
    justify-content: space-around;
    align-items: center;
    height: 5.5vh;
    right: 0;
}

nav a{
    color: var(--cor1);
    text-decoration: none;
    transition: 0.3s;
}


.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 30px;
    height: 2px;
    background: var(--cor1);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){

    .nav-list{
        position: absolute;
        margin: 0;
        top: 8vh;
        right: 0;
        width: 35vw;
        background: var(--cor7);
        flex-direction: column;
        align-items:start;
        line-height: 10vh;
        padding: 10px;
        transform:translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        } to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
      
    .mobile-menu.active .line2 {
        opacity: 0;
    }
      
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

/*Parte referente a tela de cards*/
@media (max-width:500px){
    .card{
        width: 100%;
        background-color: var(--cor3);
        border-radius: 4px;
        box-shadow: 5px 5px 15px -3px var(--cor5);
        padding: 10px 15px;
    }
    .card h3{
        font-size: 19px;
        margin-top: 15px;
        line-height: 24px;
        color: var(--cor8);
    }
    .card .pesquisar{
        display: flex;
        margin-top: 15px;
    }
    .card .pesquisar input{
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
        padding:10px;
        background-color: var(--cor1);
        margin-right: 3px;
    }
    .card input::placeholder{
        font-size: 10px;
        color: var(--cor4);
        font-weight: 500;
    }
    .card .pesquisar button{
        width: 45px;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: var(--cor7);
        outline: none;
    }
    .card .pesquisar button img{
        width: 45%;
    }
    .rolagem{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        overflow: scroll;
    }
    .rolagem h5{
        font-family: var(--fonte-detalhes);
        font-size: 12px;
        text-align: center;
        color: var(--cor7);
    }
    .rolagem img{
        height: 120px;
        width: 120px;
    }
}

.fixar-rodape{
    background-color: var(--cor7);
    color: var(--cor1);
    font-family: var(--fonte-detalhes);
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top:15px ;
}