@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Montserrat&family=Poppins&display=swap');

:root{
    --cor1 : #FFFFFF;
    --cor2 : #E8E7E7;
    --cor3 : #D9D9D9;
    --cor4 : #C6C5C5;
    --cor5 : #8F8E8E;
    --cor6 : #90C995;
    --cor7 : #00990F;
    --cor8 : #000000;

    --fonte-geral: 'DM Sans', sans-serif;
    --fonte-detalhes: 'Poppins', sans-serif;
    --fonte-textos: 'Montserrat', sans-serif; 
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor3);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.body-content{
    margin-bottom: 50px;
}

header{
    background-color: var(--cor7);
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: space-between;
}

/*Parte referente a barra de navegação (menu)*/

nav{
    display: flex;
    font-family: var(--fonte-geral);
    background-color: var(--cor7);
    justify-content: space-around;
    align-items: center;
    height: 5.5vh;
    right: 0;
}

nav a{
    color: var(--cor1);
    text-decoration: none;
    transition: 0.3s;
}


.nav-list{
    list-style: none;
    display: flex;

}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 30px;
    height: 2px;
    background: var(--cor1);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){

    .nav-list{
        position: absolute;
        margin: 0;
        top: 5.5vh;
        right: 0;
        width: 35vw;
        height: 50vh;
        background: var(--cor7);
        flex-direction: column;
        align-items:start;
        line-height: 10vh;
        transform:translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        } to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
      
    .mobile-menu.active .line2 {
        opacity: 0;
    }
      
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

/*Parte referente a tela de login*/
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.aba-login{
    background-color: var(--cor2);
    border-radius: 20px;
    box-sizing: border-box;
    width: 185pt;
    height: 300px;
}

.aba-login > h1{
    text-align: center;
    font-family: var(--fonte-geral);
    font-size: 18px;
    padding: 10px 0px;
    margin-bottom: -18px;
}

.dados{
    font-family: var(--fonte-geral);
    font-size: 11px;
    color: var(--cor5);
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    margin: 10px;
}

.dados > input{
    background-color: var(--cor4);
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: var(--fonte-detalhes);
    box-sizing: border-box;
}

.botao{
    text-align: center;
}

.botao-log {
    display: inline-block;
    margin-inline: 5px;
}

.botao-log > input{
    background-color: var(--cor7);
    font-family: var(--fonte-geral);
    font-size: 12px;
    color: var(--cor1);
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
    width: 95px;
    display: inline-block;
}

.botao-google{
    display: flex;
    justify-content: center;
    padding: 10px 15px 0px;
}

.botao-reseta{
    font-family: var(--fonte-geral);
    text-align: center;
    padding: 5px;
}

.botao-reseta > a{
    font-weight:bolder;
    font-size: 13px;
    color: var(--cor8);
    text-decoration: none;
}

/*Parte referente ao corpo(conteúdo) da página*/

.geral{
    height: 100%;
    padding-bottom: 4rem;
}

.artigo{
    font-family: var(--fonte-textos);
    justify-content: center;
    text-align:justify;
}

.artigo > h1{
    margin: 0px;
    background-color: var(--cor1);
    color: var(--cor7);
    padding: 5px;
    font-size: 16px;
}

.textos{
    padding: 0px 15px;
    font-size: 14px;
}
.textos > h2{
    font-family: var(--fonte-geral);
    font-size: 13px;
}

/*Parte referente ao tratamento das imagens nos créditos*/

.imagens{
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.imagens > img{
    padding: 0px 60px;
}

/*Parte referente a tela de contato*/
.top-contato{
    background-color: var(--cor2);
    margin: 15px;
    border-radius: 15px;
    padding-bottom: 12px;
    width: 90%;
}

.top-contato h2{
    margin: 0px 15px;
    background: var(--cor3);
    padding: 8px;
    font-family: var(--fonte-geral);
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.top-contato p{
    font-family: var(--fonte-detalhes);
    font-size: 11px;
    font-weight: bold;
    padding-left: 20px;
}

.bottom-contato{
    background-color: var(--cor2);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    width: 90%;
    box-sizing: border-box;
}

.bottom-contato input{
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 9px;
    width: 90%;
    outline: none;
    font-family: var(--fonte-detalhes);
    font-size: 12px;
}

.bottom-contato input#caixa-mensagem{
    padding-bottom: 50px;
}

.botao-enviar input{
    background-color: var(--cor7);
    color: var(--cor1);
    font-family: var(--fonte-geral);
    font-weight: bolder;
    width: 100px;   

}

.fixar-rodape{
    background-color: var(--cor7);
    color: var(--cor1);
    font-family: var(--fonte-detalhes);
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
}