<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--CSS-->
    <link rel="stylesheet" href="../css/style.css">

    <title>Login- Etnobook</title>
</head>
<body>
    <div class="body-content">
        <header>
            <a class="logo" href="main.html"><img src="../imagens/etb.png" alt="logo-etnobook"></a>
            <nav>
                <div class="logo-perfil"><a href="perfil.html"><img src="../imagens/perfil.png" alt="logo-perfil"></a></div>
                <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
              </div>
              <ul class="nav-list">
                <li><a href="login.html">Login</a></li>
                <li><a href="sobre-etnobook.html">Sobre</a></li>
                <li><a href="creditos-etnobook.html">Créditos</a></li>
                <li><a href="contato-etnobook.html">Contatos</a></li>
              </ul>
            </nav>
        </header>
        <section class="planta">
            <div class="card-pp">
                <div class="barra-pp">
                    <div class ="foto-planta">
                        <img class ="img_planta"src="../imagens/planta.jpg" alt="planta">
                    </div>
                    <div class="nome-pp">
                        <h5 class = "nome_popular"id="planta-nome">Planta Específica</h5>
                    </div>
                </div>
                <div class="infos">
                    <div class="info">
                        <h4>Nome Científico: </h4>
                        <p class="nome_cientifico">planta x</p>
                    </div>
                    <div class="info-descricao">
                        <h4>Descrição: </h4>
                        <p class = "descricao_planta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quas fuga animi quibusdam in. Odio, corporis, quisquam illum dignissimos dolorum exercitationem eligendi illo ullam quod laboriosam provident molestias. Rerum, voluptates.</p>
                    </div>
                    <div class="info-artigos">
                        <h4>Artigos relacionados: </h4>
                        <div class="links-artigos">
                            <ul>
                                <li><a href="/">link1</a></li>
                                <li><a href="/">link2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="fixar-rodape">
            <p>&copy;Todos os direitos reservados | Etnobook 2023</p>
        </footer>
    </div>

    <!--JS-->
    <script defer src="../javascript/mobile-navbar.js"></script>
    <script src="../javascript/login-google.js"></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    
</body>
</html>